/* This part is what sets the canvas to the backgrouns */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* This part is just going to be the side bar */



    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #d3d3d3;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


#imgProjects {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    overflow:hidden;
    transition: 0.5s;
}
#imgSkills {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    overflow:hidden;
}
#imgNoor {
    position: absolute;
    margin: 0 auto;
    display:block;
    top: 50px;
    width:30%;
    left: 34.5%;
    border: solid white;

}



#contact {
    position: absolute; 
    top:90%;
    left:40%;;
    overflow:hidden; 
}



#name {
    position: absolute;
    margin: 0 auto;
    display:block;
    top: 80%;
    width:30%;
    left: 43%;
    color:white;

}